.body {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
  background: white;
  width: 85%;
  height: auto;
  color: royalblue;
  justify-content: center;
  align-items: center;
}

.body-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;

  padding: 1%;
  gap: 1%;
  border: 1px solid #e2e8ef;
  border-radius: 10px;
}

.body-second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;

  padding: 1%;
  gap: 1%;
  border: 1px solid #e2e8ef;
  border-radius: 10px;
}

.body-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;

  border: 1px solid #e2e8ef;
  border-radius: 10px;
  background-color: white;

  overflow-y: scroll;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

  gap: 12px;
  padding: 15px;
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.content-entity {
  height: 150px;
  display: flex;
  font-size: 20px;
  color: #9cb0c9;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2e8ef;

  border: 1px solid #e2e8ef;
  border-radius: 10px;
  gap: 5%;
}

.content-entity h1 {
  margin-block-start: 0.2em;
  margin-block-end: 0em;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.content-entity p {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
  font-size: 0.7em;
}

.content-thumbnail {
  display: flex;
  width: 50%;
  height: 50%;
}

.content-top {
  display: flex;

  justify-content: right;
  width: 100%;
  height: 10%;
}

.content-top-button-container {
  width: 16px;
  height: 16px;
}

.content-top-button-container img {
  width: inherit;
  height: inherit;
}

.popup {
  background-color: gray;

  width: 100px;
  height: 100px;
}

/*Sharingpage CSS*/
.sharingbody {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
  background: white;
  width: 85%;
  height: auto;
  color: royalblue;
  justify-content: center;
  align-items: center;
}

.sharingbody-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;

  padding: 1%;
  gap: 1%;
  border: 1px solid #e2e8ef;
  border-radius: 10px;
}

.sharingbody-main {
  width: 100%;
  height: 90%;
  border: 1px solid #e2e8ef;
  border-radius: 10px;
  background-color: white;

  overflow-y: scroll;
  overflow-x: scroll;
}

.sharingbody-main-listcontainer {
  border: 1px solid #e2e8ef;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
}

.sharingbody-main-list-roomname {
  width: 20%;
  height: 100%;
  border: 1px solid #e2e8ef;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circlecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;

  /* background: linear-gradient(to bottom, #000000, #0000ff);*/
}

.circlecontainer h2 {
  font-size: large;
}

.sharingbody-main-list-itemcontainer {
  width: 80%;
  height: 100%;
  margin-left: 20px;
  overflow-x: auto;
  white-space: nowrap;
  /*나중에 제거할 속성*/
  /*border: 1px solid blueviolet;*/
}

.test {
  display: inline-block;
  background-color: #e2e8ef;
  width: 300px;
  height: 100%;
  border: 1px solid #e2e8ef;
  border-radius: 10px;
  margin-right: 20px;
}