.btbutton {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #415165;
  background: white;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  font-family: "DMSans-Regular";
}

.btbutton-hover {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  transition: 0.2s ease-in-out;

  font-family: "DMSans-Regular";
}

.btbutton-text {
  width: 90%;
}

.btbutton-logo {
  display: flex;
  align-items: center;
  justify-content: left;

  gap: 5%;
  width: 40%;
  height: 80%;
}

.btbutton-logo-image {
  display: flex;
  height: 120%;
  object-fit: contain;
}
