.filterbutton {
  width: 48%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: #415165;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  font-family: "DMSans-Regular";
}

.filterbutton-hover {
  width: 48%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  transition: 0.2s ease-in-out;

  font-family: "DMSans-Regular";
}

.filterbutton-clicked {
  width: 48%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e2e8ef;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  transition: 0.2s ease-in-out;

  font-family: "DMSans-Regular";
}

.filterbutton-text {
  width: 90%;
}
