.following-container {
  height: 90%;
  width: 90%;
  overflow: auto;
  padding: 20px;
  background-color: #eff2f6;
  border-radius: 20px;
}

.profile {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}

.profile p {
  margin-left: 15px;
}

.plus-button {
  margin-left: auto;
  font-size: 30px;
  background-color: #eff2f6;
  border-radius: 10px;
}
