.footer {
  display: flex;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
}

.footer-center {
  display: flex;
  width: 100%;
  height: 100%;
  color: gray;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #e2e8ef;
  border-radius: 10px;
}

.footer-center h4 {
  color: white;
}