.header {
  display: flex;
  width: 100%;
  height: 100%;
  color: #7B95B7;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 1px solid #E2E8EF;

  padding: 5px;
}

.header-logo {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;

  font-size: 95%;
}

.header-search {
  display: flex;

  width: 560px;
  height: 42px;

  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #415165;
}

.header-searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;


  font-family: "DMSans-Bold";
  border: 0px;
  background-color: transparent;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
}

.header-searchbar-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header-searchbar-big-container {
  height: 100%;
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #E2E8EF;
  border-radius: 10px;
  padding-left: 16px;
}

.header-bottombox {
  position: absolute;
  width: 560px;
  height: 360px;
  border: 1px solid #E2E8EF;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: auto;
}

.header-bottombox-disabled {
  position: absolute;
}

.header-searchbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: height;

  color: #415165;
  border: 1px solid #E2E8EF;
  border-radius: 10px;

  font-family: "DMSans-Bold";
}

.header-profile {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;

  font-size: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}