.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
}

.top {
  display: flex;
  width: 100%;
  height: 72px;
}

.middle {
  display: flex;
  width: 100%;
  height: 90vh;
}

.bottom {
  display: flex;
  width: 100%;
  height: 5vh;
}