.profilemenu-container {
    visibility: visible;
    position: relative;
    top: 0px;
    right: 60px;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: auto;
    background-color: #eff2f6;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 2px #0000001f;
}

.profilemenu-container-disabled {
    visibility: hidden;
}

.profilemenu-button {
    height: 38px;
    border: 0px;
    background-color: transparent;
    color: #486284;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

.profilemenu-button:hover {
    font-weight: bold;
}