.searchmember-container {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.searchmember-container:hover {
    background-color: rgb(227, 234, 240);
}

.searchmember-avatar-container {
    margin-right: 3;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

.searchmember-avatar {}

.searchmember-text-container {
    padding: 3;
}

.searchmember-name {
    margin-block-end: 0.2em;
    font-size: 16;
    font-weight: bold;
}

.searchmember-email {
    margin-block-start: 0.2em;
    font-size: 8;
    font-weight: 400;
}