.sbbutton {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #486284;
  color: white;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  font-family: "DMSans-Regular";
}

.sbbutton-hover {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #415165;
  color: white;

  border: 1px solid #e2e8ef;
  border-radius: 10px;

  transition: 0.5s ease-in-out;

  font-family: "DMSans-Regular";
}
